* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
}

.box {
  width: 150px; /* bez box-sizing width = 150 + 20 + 5px = width + padding + border */
  margin: 50px 0;
  padding: 20px;
  border: white 5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.black {
  height: 120px;
  background-color: black;
  color: white;
}

.blue {
  height: 150px;
  background-color: purple;
  color: white;
}

.blue {
  background-color: blue;
}

.red {
  height: 180px;
  background-color: red;
}

.green {
  height: 60px;
}

.with-green-border {
  border: green 5px solid;
}

/*.box-container {
  background-color: aqua;
}*/
